
.App.light {
  background: #f5f5f5;
  color: #111;
}


.App.dark {
  background: #121212;
  color: #f5f5f5;
}

.note-container{
  display: flex;
  margin-top: 20px;
      border: 1px solid grey;
}

.font-p{
  flex:3;
}

.note-flex{
  flex:1;
}

.size-flex{
  display: flex;
  align-items: center;
  gap:10px;
}